{{# partial "contenido"}}

    <div class="d-flex align-items-center justify-content-between container mt-4">
        <h1> <span class="fw-bold" style= "font-size: 35px;">Ofertas</span> </h1>
    </div>
    <div class="d-flex align-items-center justify-content-between container mt-3">
        <p1> <span style="font-size: 18px;"> Vea los productos y servicios ofrecidos y canjéenlos por sus puntos obtenidos.</span> </p1>
    </div>


<div class="container mt-4">
    <div class="category-container">
        <button class="category-box" onclick="filtrarOfertas('Gastronomía')">Gastronomía</button>
        <button class="category-box" onclick="filtrarOfertas('Electrónica')">Electrónica</button>
        <button class="category-box" onclick="filtrarOfertas('Artículos para el hogar')">Artículos para el hogar</button>
        <button class="category-box" id="otro-rubro-btn" onclick="mostrarRubros()">Otro</button>

        <!-- Sección de rubros adicionales -->
        <div id="otros-rubros" style="display:none;">
            {{#each rubros}}
                <button class="category-box" onclick="filtrarOfertas('{{this.nombre}}')">{{this.nombre}}</button>
            {{/each}}
        </div>
    </div>
    <div class="container mt-4">
        <div class="row g-3">
            <div class="col-md-12">
                {{#each ofertas}}
                <div class="offer-card">
                    <img src="../../public/img/ofertas-electronica.png" alt="Imagen Oferta 1">
                    <div class="offer-details">
                        <p><strong>Categoría:</strong>{{this.rubro.nombre}}</p>
                        <h4>{{this.nombre}}</h4>
                        <p><strong>Puntos Requeridos:</strong>{{this.cantidadPuntosNecesarios}}</p>
                        <button class="btn btn-dark text-white btn-canjear" onclick="canjearOferta{{this.id}}" data-bs-toggle="modal" data-bs-target="#confirmar_canje">Canjear</button>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="modal fade" id="confirmar_canje" tabindex="-1" aria-labelledby="confirmarCanjeLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmarCanjeLabel">Confirmar canje</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿Desea canjear esta oferta?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary">Sí</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="../../public/js/canjearOferta.js"></script>
<script src="../../public/js/filtrarOfertas.js"></script>

{{/partial}}